@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* End CSS Reset */

:root {
    --sidebar-colour: #2b2f4e;
}

body {
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
}

.sidebar {
    background-color: #2b2f4e;
    color: #fff;
    width: 20rem;
    /* padding: 1em; */
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    padding: 1em;
}

.main-content {
    margin-left: 2em;
    padding: 1em;
    flex: 1;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-todo {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    gap: 0.2em;
    font-weight: 900;
    padding: 1em 0;
    margin-right: 2rem;
    /* border: none; */
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
}

.add-todo img {
    color: black;
    width: 2em;
}

.project-content {
    display: flex;
    flex-direction: column;
}

.project-content button {
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 1em;
}

.add-project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    font-weight: 900;
    padding: 1em 0;
    background-color: var(--sidebar-colour);
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
}

.add-project img {
    width: 2em;
}

.todo-list {
    /* padding: 1.5em; */
    margin: 2em 0;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
}

input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    padding: 0;
    margin: 0;
    background: none;
}

/* dummy todo list item  */
.item-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 236, 236);
    padding: 1em 0;
    border-radius: 0.7em;
    border-left: 0.5em solid rgb(103, 190, 103);

}

.item-1 p {
    margin: 0 2em;
}

.delete-button {
    margin-right: 2em;
}